langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
pypdf
python-dotenv
streamlit
fastapi
uvicorn[standard]
